@layout('layouts.app')

@section('content')

<header>
    <h1>Blog Home Page</h1>
</header>

<!-- on affiche tout les posts -->
@each(post in posts)
<div>
    <!-- on peut accéder aux données de nos posts et les formater comme on veux -->
    <a href="/post/{{ post._id }}">
    <h2 class="post-title">
        {{ post.title }}
    </h2>
    </a>
    <p>Posted by 
        <span>{{ post.author}}</span>
        on {{ post.createdAt.toDateString() }}
    </p>
</div>
<hr>
@endeach
 
@endsection